// базовые подключения
@import "vars";
@import "./base-scss/mixins";
@import "./base-scss/fonts";
@import "./base-scss/settings";

//!------------common-blocks--------

body {
  color: var(--black);
}

.section-title {
  font-family: 'Inter';
  font-style: normal;
  font-variation-settings: "wght" 700;
  font-size: 48px;
  line-height: 120%;
  color: var(--black);
  span {
    color: var(--red);
  }
}

// подключения компонентов страниц
@import "./components/header";
@import "./components/footer";
@import "./components/home/title";
@import "./components/home/why-study";


