<footer class="footer">
  <div class="container">
    <nav class="nav" title="navigation">
       <ul class="nav__list">
          <li class="nav__item nav__item_active"><a href="#" class="nav__link">Home</a></li>
          <li class="nav__item"><a href="#" class="nav__link">About Course</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Enroll</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Mentors</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Course Schedule</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Contact Us</a></li>
       </ul>
     </nav>
  </div>
</footer>
