<footer class="footer">
  <div class="container">
    <div class="footer__flex-container">
        <a href="" class="footer__copyright">The layout of this site is provided by the Telegram channel. The layout is free to distribute.</a>
      <picture class="footer__logo">
        <source srcset="./img/footer.webp" type="image/webp">
        <img loading="lazy" src="./img/footer.png" class="image" width="80" height="80" alt="logo">
      </picture>
      <p class="footer__cookies">We use cookies to personalize services and improve the user experience of the site. If
        you do not agree to their use, please change your browser settings.</p>
    </div>
  </div>
</footer>
