<header class="header">
  <div class="container">
   <nav class="nav" title="navigation">
    <picture>
      <source srcset="img/logo.webp" type="image/webp">
      <img loading="lazy" src="img/logo.png" class="nav__img image" alt="logo">
    </picture>
     <ul class="nav__list">
        <li class="nav__item nav__item_active"><a href="#" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#" class="nav__link">About&nbsp;Course</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Enroll</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Mentors</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Course&nbsp;Schedule</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Contact&nbsp;Us</a></li>
     </ul>
     <button class="burger" aria-label="menu" aria-expanded="false" data-burger>
       <span class="burger__line"></span>
     </button>
   </nav>
  </div>
</header>
