<section class="entrolment">
   <div class="container">
      <div class="entrolment__flex-container">
         <div class="entrolment__text">
            <h2 class="entrolment__title section-title">Enrolment</h2>
            <p class="entrolment__text-item">You can enrol online at&nbsp;any time. <br> The whole process only takes few minutes.</p>
            <button class="entrolment__button red-button">Enroll Now</button>
         </div>
         <div class="entrolment__galery">
            <picture class="entrolment__img">
              <source srcset="./img/home/entrolment-1.webp" type="image/webp">
              <img loading="lazy" src="./img/home/entrolment-1.jpg" class="image" width="" height="" alt="background image">
            </picture>
            <picture class="entrolment__img">
               <source srcset="./img/home/entrolment-2.webp" type="image/webp">
               <img loading="lazy" src="./img/home/entrolment-2.jpg" class="image" width="" height="" alt="background image">
             </picture>
         </div>
      </div>
   </div>
</section>
