<div class="container">
   <section class="how-online">
      <div class="how-online__flex-container">
         <h2 class="how-online__title section-title">How <span>online</span> learning works</h2>
         <p class="how-online__link">This is&nbsp;a&nbsp;basic breakdown of&nbsp;how your course
            works. You can always find more information at&nbsp;<a
               href="https://online.rmit.edu.au">online.rmit.edu.au</a></p>
      </div>
      <picture class="how-online__img">
         <source media="(min-width:549px)" srcset="./img/home/how-online.webp" type="image/webp">
         <source media="(max-width:550px)" srcset="./img/home/how-online-m.webp" type="image/webp">
         <img loading="lazy" src="./img/home/how-online.jpg" class="image" width="" height=""
            alt="background image with logo">
      </picture>
      <div class="how-online__flex-container">
         <div class="how-online__item">
            <h3 class="how-online__subtitle">Before the course starts </h3>
            <p class="how-online__text">Before we&nbsp;get cracking, you&rsquo;ll need access to&nbsp;a&nbsp;computer
               with broadband connection. Any 64-bit operating system with at&nbsp;least 8GB of&nbsp;RAM should
               work.</p>
            <p class="how-online__text">We&rsquo;ll help you install any software you might need, but in&nbsp;the
               meantime, download
               Slack and Zoom, and make sure your webcam and speakers are working.</p>
         </div>
         <div class="how-online__item">
            <h3 class="how-online__subtitle">During the course</h3>
            <p class="how-online__text">A&nbsp;lot of&nbsp;your RMIT Online Future Skills course will consist
               of&nbsp;video snippets. You can watch these whenever you like. There are also regular interactive
               webinars, online forums to&nbsp;chat with your peers and a&nbsp;scheduled 1:1 session with your industry
               mentor.</p>
            <p class="how-online__text">We&rsquo;ll set up&nbsp;Slack channels so&nbsp;you can connect with your
               classmates and grow your
               professional network. You can also reach out to&nbsp;your Course Manager if&nbsp;you ever need help.</p>
         </div>
         <div class="how-online__item">
            <h3 class="how-online__subtitle">Tools</h3>
            <ul class="how-online__text">
               <li>Video lectures
               </li>
               <li>1:1 mentor session
               </li>
               <li>Webinars
               </li>
               <li>Slack channels and forums</li>
            </ul>
         </div>
         <div class="how-online__item">
            <div class="how-online__subtitle"></div>
            <p class="how-online__text"></p>
         </div>
      </div>
   </section>
</div>
