<div class="container">
   <section class="right-course">
      <h2 class="right-course__title section-title">Choosing the right course <span>for&nbsp;you</span></h2>
      <div class="right-course__main-container">
         <div class="right-course__image">
            <picture>
               <source srcset="./img/home/right-course.webp" type="image/webp">
               <img loading="lazy" src="./img/home/right-course.jpg" class="image" width="" height=""
                  alt="background-image">
            </picture>
            <p class="right-course__part-title" >Choosing<br>for you</p>
         </div>
         <div class="right-course__text-container">
            <p class="right-course__part-title">the right course</p>
            <p class="right-course__text-1">
               At&nbsp;RMIT Online, you can choose from a&nbsp;range of&nbsp;courses designed for the future
               of&nbsp;work. In&nbsp;the area of&nbsp;business analysis and analytics, we&nbsp;have a&nbsp;number
               of&nbsp;options depending on&nbsp;your objectives. Our Business Analyst course will provide you with the
               behaviourial, technical, and Agile skills to&nbsp;translate business requirements into the right
               buildable solutions. Our two business analytics courses are in&nbsp;a&nbsp;different skill area, Business
               Analytics and Visualisation and Business Analytics with SQL and Python.
            </p>
            <p class="right-course__text-2">These courses will provide you with the skills to&nbsp;obtain, clean, and
               present data to&nbsp;drive useful organisational predictions and insights.</p>
         </div>
      </div>
      <div class="right-course__descr-container">
         <div class="right-course__descr-list">
            <h3>Objective </h3>
            <p>Gain the human, technical, and Agile skills to&nbsp;facilitate
               and communicate business requirements into buildable
               processes and solutions.</p>
         </div>
         <div class="right-course__descr-list">
            <h3>What you&rsquo;ll learn</h3>
            <ul>
               <li>Break down business problems into requirements
                  that facilitate the resolution of conflicting needs
                  and reflect contemporary ways of working
               </li>
               <li>Critically analyse cognitive and behavioural skills
                  relevant to&nbsp;business analysis and apply those
                  skills to&nbsp;engaging with business and technical
                  stakeholders</li>
               <li>Illustrate the business analysis process to&nbsp;stakeholders and justify how the process and
                  findings create business value</li>
            </ul>
         </div>
         <div class="right-course__descr-list">
            <h3>Course outcome</h3>
            <p>By the end of this course, you’ll be able to:</p>
            <ul>
               <li>Assess business problems</li>
               <li>Conduct root cause analysis</li>
               <li>Gather, classify, and prioritise requirements</li>
               <li> Create process maps</li>
               <li>Break down work using Agile methods</li>
               <li>Write user stories</li>
               <li>Effectively present their findings to stakeholders</li>
            </ul>
         </div>
      </div>
   </section>
</div>
