<div class="container">
   <section class="what-learn">
      <h2 class="what-learn__title section-title section-title_with-line">What&nbsp;you’ll&nbsp;<span> learn</span></h2>
      <div class="what-learn__flex-container">
         <ul class="what-learn__list">
            <li class="what-learn__list-item what-learn__list-item_active" tabindex="0">
               <span>MODULE 1</span>
               <h3>What does a&nbsp;business analyst actually&nbsp;do?</h3>
            </li>
            <div class="what-learn__item-descr-750">
               <ul>
                  <li>Understand the prevalent methods used in&nbsp;business analysis
                     including the importance of&nbsp;Agile and the Agile Manifesto</li>
                  <li>Consult with stakeholders to understand a business’ current
                     state and conduct a root cause analysis
                     </li>
                  <li>Map your current state and understand the user journey
                  </li>
               </ul>
               <p>Milestone: Choose from one of two scenarios to update your
                  actor list, process map, and user journey map following the
                  feedback received</p>
            </div>
            <li class="what-learn__list-item" tabindex="0">
               <span>MODULE 2</span>
               <h3>Core communication skills and requirement gathering</h3>
            </li>
            <li class="what-learn__list-item" tabindex="0">
               <span>MODULE 3</span>
               <h3>Process mapping and user story writing</h3>
            </li>
            <li class="what-learn__list-item" tabindex="0">
               <span>MODULE 4</span>
               <h3>Adapting to&nbsp;mid-project requirement changes</h3>
            </li>
            <li class="what-learn__list-item" tabindex="0">
               <span>MODULE 5</span>
               <h3>Presenting your work to&nbsp;stakeholders</h3>
            </li>
            <li class="what-learn__list-item" tabindex="0">
               <span>MODULE 6</span>
               <h3>Submit your final project and next steps</h3>
            </li>
         </ul>
         <div class="what-learn__item-descr what-learn__item-descr_active">
            <ul>
               <li>Understand the prevalent methods used in&nbsp;business analysis
                  including the importance of&nbsp;Agile and the Agile Manifesto</li>
               <li>Consult with stakeholders to understand a business’ current
                  state and conduct a root cause analysis
                  </li>
               <li>Map your current state and understand the user journey
               </li>
            </ul>
            <p>Milestone: Choose from one of two scenarios to update your
               actor list, process map, and user journey map following the
               feedback received</p>
         </div>
         <div class="what-learn__item-descr">
            <ul>
               <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat perspiciatis excepturi asperiores, modi molestias odio placeat sunt obcaecati dicta.</li>
               <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi in odio, ex alias ipsa perspiciatis quas quibusdam asperiores obcaecati quo labore nam reiciendis corporis, error itaque autem facere minima dolor!</li>
               <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, debitis.</li>
            </ul>
            <p>Milestone: lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, assumenda.</p>
         </div>
         <div class="what-learn__item-descr">
            <ul>
               <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat perspiciatis excepturi asperiores, modi molestias odio placeat sunt obcaecati dicta.</li>
               <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi in odio, ex alias ipsa perspiciatis quas quibusdam asperiores obcaecati quo labore nam reiciendis corporis, error itaque autem facere minima dolor!</li>
               <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat perspiciatis excepturi asperiores, modi molestias odio placeat sunt obcaecati dicta.</li>
               <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat perspiciatis excepturi asperiores, modi molestias odio placeat sunt obcaecati dicta.</li>
               <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, debitis.</li>
            </ul>
            <p>Milestone: lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, assumenda.</p>
         </div>
         <div class="what-learn__item-descr">
            <ul>
               <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat perspiciatis excepturi asperiores, modi molestias odio placeat sunt obcaecati dicta.</li>
               <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi in odio, ex alias ipsa perspiciatis quas quibusdam asperiores obcaecati quo labore nam reiciendis corporis, error itaque autem facere minima dolor!</li>
               <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat perspiciatis excepturi asperiores, modi molestias odio placeat sunt obcaecati dicta.</li>
               <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, debitis.</li>
            </ul>
            <p>Milestone: lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, assumenda. Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
         </div>
         <div class="what-learn__item-descr">
            <ul>
               <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat perspiciatis excepturi asperiores, modi molestias odio placeat sunt obcaecati dicta.</li>
               <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi in odio, ex alias ipsa perspiciatis quas quibusdam asperiores obcaecati quo labore nam reiciendis corporis, error itaque autem facere minima dolor!</li>
               <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat perspiciatis excepturi asperiores, modi molestias odio placeat sunt obcaecati dicta.</li>
               <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis nisi aliquam odit rerum quam ducimus quas libero? Sint unde magnam deserunt commodi molestias voluptates esse, nesciunt aliquam inventore praesentium illum!</li>
               <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, debitis.</li>
            </ul>
            <p>Milestone: lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, assumenda. Lorem ipsum dolor sit.</p>
         </div>
         <div class="what-learn__item-descr">
            <ul>
               <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat perspiciatis excepturi asperiores, modi molestias odio placeat sunt obcaecati dicta.</li>
               <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi in odio, ex alias ipsa perspiciatis quas quibusdam asperiores obcaecati quo labore nam reiciendis corporis, error itaque autem facere minima dolor!</li>
               <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, debitis.</li>
            </ul>
            <p>Milestone: lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, assumenda.</p>
         </div>
         <div class="what-learn__item-descr">
            <ul>
               <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat perspiciatis excepturi asperiores, modi molestias odio placeat sunt obcaecati dicta.</li>
               <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi in odio, ex alias ipsa perspiciatis quas quibusdam asperiores obcaecati quo labore nam reiciendis corporis, error itaque autem facere minima dolor!</li>
               <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat perspiciatis excepturi asperiores, modi molestias odio placeat sunt obcaecati dicta.</li>
               <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, debitis.</li>
            </ul>
            <p>Milestone: lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, assumenda. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor sit amet.</p>
         </div>
      </div>
   </section>
</div>
