<section class="who-for">
   <div class="container who-for__flex-container">
      <div class="who-for__text-container">
         <h2 class="who-for__title section-title">Who this course is <span>for</span></h2>
         <p class="who-for__mini-text">Our Business Analyst course is ideal for:</p>
         <p class="who-for__text"><span>Early and mid-career IT&nbsp;and business professionals</span> looking
            to&nbsp;gain proficiency and close knowledge gaps in&nbsp;order to&nbsp;transition towards
            becoming a&nbsp;business analyst.</p>
         <p class="who-for__text"><span>Mid-level professionals from business analyst adjacent roles</span> looking
            to&nbsp;develop the skills to&nbsp;effectively work with multidisciplinary teams. You&rsquo;ll most
            likely&nbsp;be, but are not limited&nbsp;to, a&nbsp;quality assurance tester, product manager, digital
            marketer,
            solutions architect, UX&nbsp;designer, or&nbsp;consultant.</p>
      </div>
      <div class="who-for__details-container">
         <h3 class="who-for__subtitle">Key details</h3>
         <ul class="who-for__list">
            <div>
               <li class="who-for__details">
                  <p>Time commitment:</p>
                  <p>100% online, 6&nbsp;weeks, approximately 8&nbsp;hours per week</p>
               </li>
               <li class="who-for__details">
                  <p>Prerequisites/level of study</p>
                  <p>There are no prerequisites.</p>
               </li>
               <li class="who-for__details">
                  <p>Enrolment:</p>
                  <p>You can enrol at&nbsp;any time, the whole process only takes a
                     few minutes.</p>
               </li>
            </div>
            <div>
               <li class="who-for__details">
                  <p>Course price:</p>
                  <p>$990&nbsp;GST incl.</p>
               </li>
               <li class="who-for__details">
                  <p>Method of study:</p>
                  <p>Online study, including interactive videos, assignments,
                     prescheduled webinars, and a 1:1 online session with
                     mentors and industry experts.</p>
               </li>
            </div>
         </ul>
         <button class="who-for__button red-button">Enroll</button>
      </div>
   </div>
</section>

