<div class="join-us">
   <p class="join-us__text">Join&nbsp;us and start becoming a business analyst right now</p>
   <button class="join-us__button red-button">Enroll</button>
</div>
<div class="container">
   <section class="whos-supp">
      <div class="whos-supp__title section-title section-title_with-line">Who&rsquo;s <span>supporting</span> you</div>
      <div class="whos-supp__flex-container">
         <div class="whos-supp__text">Just because it&rsquo;s online, doesn&rsquo;t mean you&rsquo;re on&nbsp;your own.
            RMIT Online&rsquo;s support network includes 1:1 feedback from our
            industry mentors, real-world insights, and study support from our
            learner success team. Here are those who may be&nbsp;part of&nbsp;your
            support team, ready to&nbsp;help you every step of&nbsp;the way.</div>
         <div class="whos-supp__company-container">
            <div class="whos-supp__company">
               <picture>
                  <source srcset="./img/home/icon-6.webp" type="image/webp">
                  <img loading="lazy" src="./img/home/icon-6.png" class="image" width="" height=""
                     alt="backgroung image">
               </picture>
               <p>Accenture is&nbsp;a&nbsp;leading global professional
                  services company, providing a&nbsp;broad range of&nbsp;services and solutions in&nbsp;strategy, consulting,
                  digital, technology, and operations. Working at
                  the intersection of&nbsp;business and technology,
                  Accenture helps clients improve their
                  performance and create sustainable value for
                  their stakeholders.</p>
            </div>
            <div class="whos-supp__company">
               <picture>
                  <source srcset="./img/home/icon-7.webp" type="image/webp">
                  <img loading="lazy" src="./img/home/icon-7.png" class="image" width="" height=""
                     alt="backgroung image">
               </picture>
               <p>The REA group is&nbsp;a&nbsp;global online real estate
                  company, aiming to&nbsp;help customers will all
                  aspects of&nbsp;their property experience&nbsp;&mdash; not
                  just buying, selling, and renting.</p>
            </div>
         </div>
      </div>
      <div class="whos-supp__persons-container">
         <div class="persons">
            <h3 class="persons__title">Sarah Hunter-Neale</h3>
            <p class="persons__subtitle">Subject matter expert</p>
            <p class="persons__text">RMIT Online has built our courses in&nbsp;partnership with industry,
               providing you with the latest industry insights and best
               practices from the real world of&nbsp;work. Our subject matter
               experts on&nbsp;this course include people like Sarah Hunter-Neale.
               Sarah is&nbsp;a&nbsp;delivery manager in&nbsp;one of&nbsp;the consumer tribes at
               REA Group, with over 14&nbsp;years&rsquo; experience working at&nbsp;this
               Australian grown ASX listed company. Sarah specialises in
               working with agile delivery teams, building out new digital
               products, providing digital solutions for both front end and
               backend systems.</p>
         </div>
         <div class="persons">
            <h3 class="persons__title">Learner success team</h3>
            <p class="persons__text">Our learner success team are here to&nbsp;help you with 1:1
               coaching, tips on&nbsp;how to&nbsp;successfully study online, and any
               questions or&nbsp;concerns you may have.</p>
         </div>
      </div>
   </section>
</div>
