<div class="container">
  <section class="why-study">
    <div class="why-study__flex">
      <div class="why-study__content-text">
        <h2 class="why-study__title section-title">Why <span>study</span> Business Analyst </h2>

        <p class="why-study__text">Today, the role of&nbsp;a&nbsp;business analyst is&nbsp;vital in&nbsp;powering any successful digital business. Bringing broad and enduring value, business analysts translate business needs into the right buildable solutions and processes.</p>
        <p class="why-study__text">Our Business Analyst course will provide you an&nbsp;immersed experience in&nbsp;responding to&nbsp;an&nbsp;in-depth scenario that follows each stage of&nbsp;the business analysis lifecycle. You&rsquo;ll learn the key transferable skills required by&nbsp;a&nbsp;valuable business analyst which are causation, facilitation, problem solving, work breakdown, and adaptive communication</p>
        <p class="why-study__text">Importantly, you&rsquo;ll gain universal technical skills in&nbsp;requirements gathering, process mapping, and user story writing. Simulating common real-life situations that require problem-solving, you&rsquo;ll also learn how to&nbsp;update process maps based on&nbsp;changed requirements and review non-functional requirements. By&nbsp;the end of&nbsp;this course, you&rsquo;ll present your findings through a&nbsp;stakeholder presentation and video for your final, scenario-based project.</p>

      </div>
      <div class="why-study__content-img">
        <picture>
          <source srcset="./img/home/why-study-img.webp" type="image/webp">
          <img loading="lazy" src="./img/home/why-study-img.jpg" class="image why-study__img" alt="background-image">
        </picture>

      </div>
    </div>
    <div class="why-study__flex">
      <div class="why-study__quote">
        <p>According to&nbsp;a&nbsp;2018 survey by&nbsp;<span>ZDNet</span>, 70% of&nbsp;organisations undertaking digital transformations are driving an&nbsp;increased need for business analysts, with growth expected to&nbsp;increase by&nbsp;20% over the next five years.</p>
        <p>(SEEK CAREER GUIDE, 2021)</p>
      </div>
      <div class="why-study__quote">
        <p>Over&nbsp;<span>13,000</span> business analyst and related roles available in&nbsp;the industry.</p>
        <p>(SEEK, MAY 10, 2021)</p>
      </div>
    </div>
  </section>
</div>
