<section class="why-ab">
   <div class="container">
      <div class="why-ab__flex-container">
         <h2 class="why-ab__title section-title">Why study with <span>BA Academy</span></h2>
         <p class="why-ab__descr">BA&nbsp;Academy is&nbsp;for students who want real world training
            from industry professionals. We&nbsp;call this the RMIT
            Online edge. Get ready to&nbsp;sharpen those skills.</p>
      </div>
      <div class="why-ab__flex-container">
         <div class="why-ab__flex-item">
            <div class="why-ab__item">
               <picture>
                  <source srcset="./img/home/icon-1.webp" type="image/webp">
                  <img loading="lazy" src="./img/home/icon-1.png" class="image" width="" height=""
                     alt="backgroung image">
               </picture>
               <div>
                  <h3 class="why-ab__subtitles">Digital credential</h3>
                  <p class="why-ab__text">The cutting-edge skills you&rsquo;ll learn are rigorously assessed and
                     recognised
                     by&nbsp;both a&nbsp;leading university and key employers in&nbsp;the field of&nbsp;study through
                     a&nbsp;digital credential.</p>
               </div>
            </div>
            <div class="why-ab__item">
               <picture>
                  <source srcset="./img/home/icon-2.webp" type="image/webp">
                  <img loading="lazy" src="./img/home/icon-2.png" class="image" width="" height=""
                     alt="backgroung image">
               </picture>
               <div>
                  <h3 class="why-ab__subtitles">Real world skills</h3>
                  <p class="why-ab__text">Our project-based assessments mean you&rsquo;ll roll up&nbsp;your sleeves and
                     create a&nbsp;project for
                     real a&nbsp;world business scenario, allowing you see the immediate impact of&nbsp;your learning
                     within your organisation.</p>
               </div>
            </div>
         </div>
         <div class="why-ab__flex-item">
            <div class="why-ab__item">
               <picture>
                  <source srcset="./img/home/icon-3.webp" type="image/webp">
                  <img loading="lazy" src="./img/home/icon-3.png" class="image" width="" height=""
                     alt="backgroung image">
               </picture>
               <div>
                  <h3 class="why-ab__subtitles">Connect with industry</h3>
                  <p class="why-ab__text">Our courses are designed with high profile partners to&nbsp;ensure
                     you&rsquo;re
                     job ready, learning
                     practical skills that align with industry best practice.</p>
               </div>
            </div>
            <div class="why-ab__item">
               <picture>
                  <source srcset="./img/home/icon-4.webp" type="image/webp">
                  <img loading="lazy" src="./img/home/icon-4.png" class="image" width="" height=""
                     alt="backgroung image">
               </picture>
               <div>
                  <h3 class="why-ab__subtitles">100% flexible learning</h3>
                  <p class="why-ab__text">The freedom of online learning means you can study whenever you want, wherever
                     you want, in a manner that suits your work and lifestyle.</p>
               </div>
            </div>
            <div class="why-ab__item">
               <picture>
                  <source srcset="./img/home/icon-5.webp" type="image/webp">
                  <img loading="lazy" src="./img/home/icon-5.png" class="image" width="" height=""
                     alt="backgroung image">
               </picture>
               <div>
                  <h3 class="why-ab__subtitles">Collaborative online experience</h3>
                  <p class="why-ab__text">Never feel like you’re studying alone and feel supported with our team of
                     expert
                     industry
                     mentors, SMEs, and the learner success team. </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
