.section-title {
   font-family: 'Inter';
   font-style: normal;
   font-variation-settings: "wght" 700;
   font-size: 48px;
   line-height: 120%;
   color: var(--black);
   span {
     color: var(--red);
   }
}

@media (max-width:590px) {
   .section-title {
      font-size: 40px;
   }
}

.red-button {
    padding: 12px 38px;
    background-color: var(--red);
    border: 1px solid var(--red);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.red-button_white {
   border: 1px solid #fff;
   background-color: #ffffff00;
}

@media (max-width: 950px) {
   .red-button {
      padding: 12px 28px;
   }
}

@media (max-width: 650px) {
   .red-button {
      width: 155px;
      padding: 12px 12px;
      font-size: 13px;
   }
}

@media (max-width: 350px) {
   .red-button {
      width: 130px;
      font-size: 12px;
      padding: 8px 8px;
   }
}
