.section-title {
   font-family: "Inter";
   font-style: normal;
   font-weight: 700;
   font-size: 48px;
   line-height: 120%;
   color: var(--black);
   span {
      color: var(--red);
   }
   &_with-line {
      position: relative;
      &:after {
         content: "";
         position: absolute;
         width: 50%;
         height: 4px;
         top: calc(57px / 2);
         right: 0;
         margin-left: 30px;
         background-color: var(--red);
      }
   }
}

@media (max-width: 1100px) {
   .section-title_with-line:after {
      width: 40%;
   }
}
@media (max-width: 750px) {
   .section-title_with-line:after {
      display: none;
   }
}
@media (max-width: 590px) {
   .section-title {
      font-size: 40px;
   }
}

//!-------------------------------------------red-butt0n-----------------
.red-button {
   padding: 12px 38px;
   background-color: var(--red);
   border: 1px solid var(--red);
   font-family: "Inter";
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 140%;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: #ffffff;
   cursor: pointer;
}

.red-button_white {
   border: 1px solid #fff;
   background-color: #ffffff00;
}

@media (max-width: 950px) {
   .red-button {
      padding: 12px 28px;
   }
}
@media (max-width: 650px) {
   .red-button {
      width: 155px;
      padding: 12px 12px;
      font-size: 13px;
   }
}
@media (max-width: 350px) {
   .red-button {
      width: 130px;
      font-size: 12px;
      padding: 8px 8px;
   }
}

//!-----------------------------------persons---------------------
.persons {
   padding: 32px 32px 32px 72px;
   background-color: var(--light-gray);
   position: relative;
   &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 108px;
      height: 108px;
      transform: translate(-50%, -50%);
      background-color: #b97a7a;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      border-radius: 50%;
      overflow: hidden;
   }

   &__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      text-transform: uppercase;
      margin-bottom: 5px;
   }

   &__subtitle {
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
   }

   &__text {
      margin-top: 16px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
   }
}
@media (max-width: 750px) {
   .persons:before {
         content: "";
         top: 32px;
         transform: translate(-50%, 0);
         width: 64px;
         height: 64px;
      }
}
@media (max-width: 400px) {
   .persons {
      padding: 16px 16px 16px 48px;
   }
}
