.why-study {

  padding: 184px 0;

  &__flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    &:not(:last-child) {
      margin-bottom: 96px;
    }
  }


  &__content-text {
    flex-basis: 732px;
  }
  &__title {
    margin-bottom: 40px;
  }

  &__text {
    margin-bottom: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
  &__quote {
    flex-basis: 732px;
    &:last-child {
      flex-basis: 510px;
      position: relative;
      top: 0;
      left: 15px;
    }
    p {
      margin-bottom: 16px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      span {
        color: var(--red);
      }
      &:last-child {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
      }
    }

  }

  &__content-img {
    flex-basis: 510px;
    min-width: 284px;
    position: relative;
    top: 0;
    left: 15px;
  }

  &__img {
    width: 100%;
  }
}

@media (max-width: 950px) {
  .why-study {
    padding: 128px 0;

    &__flex {
      gap: 20px;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    &__text {
      font-size: 14px;
    }
  }
}

@media (max-width: 750px) {
  .why-study {
    padding: 128px 0;

    &__flex {
      gap: 40px;
      &:not(:last-child) {
        margin-bottom: 40px;
        flex-wrap: wrap;
      }
    }

    &__text {
      font-size: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &__content-img {
      flex-basis: 100%;
      position: static;
    }

    &__quote {
      p {
        font-size: 18px;
      }
      &:last-child {
        position: static;
      }
    }
  }
}

@media (max-width: 590px) {
  .why-study {

    &__flex {
      flex-wrap: wrap;
    }

    &__title {
      font-size: 40px;
    }

    &__quote {
      p {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 400px) {
  .why-study__quote {
    p {
      font-size: 16px;
    }
  }
}
