<section class="title">
  <div class="container">
    <div class="title__flex-container">
      <div class="title__text">
        <h1 class="text__title">Digital Business Analyst</h1>
        <div class="text__item">Develop the necessary human, technical, and Agile skills required to&nbsp;become a&nbsp;successful business analyst. Learn how to&nbsp;identify a&nbsp;root cause, gather requirements, gain stakeholder endorsement, and segment work for interdisciplinary teams.</div>
        <div class="text__buttons">
          <button type="button" class="text__buttons-red">Start Now</button>
          <button type="button" class="text__buttons-white">Contact Us</button>
        </div>
      </div>
      <div class="title__galery">
        <div class="galery__item"><picture>
          <source srcset="../../img/home/galery1.webp" type="image/webp">
          <img loading="lazy" src="../../img/home/galery1.jpg" class="image"alt="">
        </picture></div>
        <div class="galery__item"><picture>
          <source srcset="../../img/home/galery2.webp" type="image/webp">
          <img loading="lazy" src="../../img/home/galery2.jpg" class="image"alt="">
        </picture></div>
        <div class="galery__item"><picture>
          <source srcset="../../img/home/galery3.webp" type="image/webp">
          <img loading="lazy" src="../../img/home/galery3.jpg" class="image"alt="">
        </picture></div>
    </div>
  </div>
</section>
